@import './body.css';
@import './featuring.css';
@import './home-layout';
@import './sidebar.css';
@import './logo.css';
@import './my-playlist.css';
@import './playlist-friends.css';
@import './primary.css';
@import './search.css';
@import './btn.css';
@import './sidebar-playlist.css';

  :root {
    --darkColor: #15192a;
    --lightColor: white;
    --warningColor: red;
    --viewportHeight: 50%;
    --button: {
      border: 1px solid var(--lightColor);
      border-radius: 5px;
      background: var(--darckColor);
      color: var(--lightColor);
      padding: .5em 2em;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 14px;
      border-bottom: 5px solid var(--lightColor)
    };
  }



  @custom-selector :--checkeable .checkbox-label, .radio-label;
  @custom-selector :--hightlight :hover, :active;

  .checkbox:checked + .primaryPlaylist-list{
    display: none;
  }

  :--checkeable{
    cursor: pointer;
    user-select: none;
    padding: 3px 7px;
    border: 1px solid color-mod(red b(10%));
    border-bottom: 3px solid red;
    /*color: gray(255);*/
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
  }
  :--checkeable:--hightlight{
    background: red;
    color: white;
  }

/*@custom-media --small screen and (max-width: 768px);*/
  @custom-media --extra-small screen and (width < 480px);
  @custom-media --small screen and (width < 768px);
  @custom-media --medium screen and (width >= 768px);
  @custom-media --large screen and (width >= 1024px);


  @media (--extra-small){

  }

  @media (--medium){

  }

  @media (--large){

  }